bin/debug*.dll
bin/release*.dll
obj
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*.nupkg
~$*
*.suo
LPRun.5.1.ReSharper.user
LPRun.5.1.ReSharper.user
LPRun.suo
LPRun.5.1.ReSharper.user
/Mvc.JQuery.Datatables/bin
/Mvc.JQuery.Datatables.Example/bin