@using System.Reflection
@using Mvc.JQuery.DataTables.Example.Controllers
@{
    ViewBag.Title = "Mvc.JQuery.DataTables";
}


<h1>Facet example</h1>
 
  
<h1>Voila!</h1>
<div style="padding: 5px; border: 1px solid grey">
    Custom placement for Position filter:
    <div id="custom-filter-placeholder-position"></div>
    Custom placement for hidden Salary filter:
    <div id="custom-filter-placeholder-salary"></div>
</div>
@Html.Partial("FacetedTable")



<br />

 


