<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.1" />
  <package id="jquery.datatables" version="1.9.2" />
  <package id="jquery.dataTables.columnFilter" version="1.4.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="WebActivator" version="1.5" />
</packages>