<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.4.4" />
  <package id="jquery.datatables" version="1.8.2" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="RazorGenerator.Mvc" version="1.2.1" />
  <package id="WebActivator" version="1.4.3" />
</packages>