@using System.Reflection
@using Mvc.JQuery.DataTables.AspNetCore.Example.Controllers
@{
    ViewData["Title"] = "Mvc.JQuery.DataTables";
}


<h1>Faceted search page example <small> See also <a href="/">Data grid example</a></small></h1>
 
@Html.Partial("FacetedTable")



<br />

 


