@{
    ViewBag.Title = "Mvc.JQuery.DataTables";
}

<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript">    $.SyntaxHighlighter.init();</script>

<h1>Strongly typed datatable example</h1>
<pre>
Nuget install-package Mvc.JQuery.DataTables
    
Nuget install-package <a href="https://github.com/mcintyre321/EmbeddedResourceVirtualPathProvider">EmbeddedResourceVirtualPathProvider</a> <i>or</i> Nuget install-package Mvc.JQuery.DataTables.Templates

</pre>
<p>
    Create a controller (see <a style="color: dodgerblue;" href="https://github.com/mcintyre321/mvc.jquery.datatables/blob/master/Mvc.JQuery.DataTables.Example/Controllers/HomeController.cs">example</a>)
</p>
<pre class="highlight">
public class SomeController : Controller 
{
    ...
    public DataTablesResult&lt;UserView> GetUsers(DataTablesParam dataTableParam)
    {
        IQueryable&lt;User> users = ... //take a queryable from your database...
        var userViews = users.Select(u => new UserView(u)); //...transform it into a view object ...
        return DataTablesResult.Create(userViews, dataTableParam)  //...and return a DataTablesResult
    }
}
</pre>

<p>
    and render the partial (see <a href="https://github.com/mcintyre321/mvc.jquery.datatables/blob/master/Mvc.JQuery.DataTables.Example/Views/Home/Index.cshtml">example</a>)

    <pre class="highlight">
        //include these scripts
        &lt;link type="text/css" href="@@Url.Content("~/Content/DataTables-1.8.2/media/css/demo_table.css")" rel="stylesheet"/>
        &lt;script src="@@Url.Content("~/Scripts/DataTables-1.8.2/media/js/jquery.dataTables.js")" type="text/javascript">&lt;/script>

        @@Html.Partial("DataTable", Html.DataTableVm("table-id", (HomeController h) => h.GetUsers(null)))

    </pre>
</p>

<h1>Voila!</h1>
<div style="padding: 5px; border: 1px solid grey">
    Custom placement for Position filter:
    <div id="custom-filter-placeholder-position"></div>
    Custom placement for hidden Salary filter:
    <div id="custom-filter-placeholder-salary"></div>
</div>

@Html.Partial("_ExampleTable")
<br />

<div>
    @if (Request.QueryString["lang"] != "de")
    {
        <a href="?lang=de#language-switch" id="language-switch">See table with Language settings applied</a>
    }
    else
    {
        <a href="/#language-switch" id="language-switch">Turn off language settings</a>
    }
</div>


