@{
    ViewBag.Title = "title";
}
@Html.DataTableIncludes(jqueryUi:true)
<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript">    $.SyntaxHighlighter.init();</script>

<h1>Strongly typed datatable example</h1>
<pre>
Nuget install-package Mvc.JQuery.Datatables
</pre>
<p>
    In the controller:
</p>
<pre class="highlight">
public DataTablesResult&lt;UserView> GetUsers(DataTablesParam dataTableParam)
{
    var users = new List&lt;User&gt;
    (
        Enumerable.Range(1, 100).Select(i => new User(){Id = i, Email = "user" + i + "@@gmail.com", Name = "User" + i})
    ).AsQueryable();

    return DataTablesResult.Create(users, dataTableParam, user => new UserView()
    {
        Id = user.Id,
        Name = user.Name
    });
}
</pre>

<p>
and in the view...

<pre class="highlight">
@@using Mvc.JQuery.Datatables
@@using Mvc.JQuery.Datatables.Example.Controllers

&lt;link type="text/css" href="@@Url.Content("~/Content/DataTables-1.8.2/media/css/demo_table.css")" rel="stylesheet"/>
&lt;script src="@@Url.Content("~/Scripts/DataTables-1.8.2/media/js/jquery.dataTables.js")" type="text/javascript">&lt;/script>

@@Html.Partial("DataTable", Html.DataTableVm("table-id", (HomeController h) => h.GetUsers(null)))

can also use 

@@Html.Partial("DataTable", Html.DataTableVm("table-id", "/home/getusers", "Id", "Name", "Email"))
</pre>
</p>

<h1>Voila</h1>

<div style="padding: 5px; border: 1px solid grey">
    Custom placement for Position filter:
    <div id="custom-filter-placeholder-position"></div>
</div>

@using Mvc.JQuery.Datatables
@using Mvc.JQuery.Datatables.Example.Controllers
@{
    var vm = Html.DataTableVm("table-id", (HomeController h) => h.GetUsers(null));
    //vm.JsOptions.Add("iDisplayLength", 25);
    //vm.JsOptions.Add("aLengthMenu", new object[] { new[] {5, 10, 25, 250, -1} , new object[] { 5, 10, 25, 250, "All"} });
    vm.ColumnFilter = true;
    vm.FilterOn("Position", new { sSelector = "#custom-filter-placeholder-position" }).Select("Engineer", "Tester", "Manager")
        .FilterOn("Id").NumberRange();
      //.FilterOn("Number").CheckBoxes(Enum.GetNames(typeof(Numbers)));
    vm.StateSave = true;

    //vm.Language = "{ 'sUrl': '" + Url.Content("~/Content/jquery.dataTables.lang.de-DE.txt") + "' }";

    vm.Language = "{" +
                  " 'sProcessing': 'Bitte warten...'," +
                  " 'sLengthMenu': '_MENU_ Einträge anzeigen'," +
                  " 'sZeroRecords': 'Keine Einträge vorhanden.'," +
                  " 'sInfo': '_START_ bis _END_ von _TOTAL_ Einträgen'," +
                  " 'sInfoEmpty': '0 bis 0 von 0 Einträgen'," +
                  " 'sInfoFiltered': '(gefiltert von _MAX_  Einträgen)'," +
                  " 'sInfoPostFix': ''," +
                  " 'sSearch': 'Suchen'," +
                  " 'sUrl': ''," +
                  " 'oPaginate': {" +
                  "	    'sFirst':    'Erster'," +
                  "	    'sPrevious': 'Zurück'," +
                  "	    'sNext':     'Weiter'," +
                  "	    'sLast':     'Letzter'" +
                  " }" +
                  "}";
}
@Html.Partial("DataTable", vm)










