@{
    ViewBag.Title = "title";
}
@Html.DataTableIncludes()
<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript">    $.SyntaxHighlighter.init();</script>

<h1>Strongly typed datatable example</h1>
<pre>
Nuget install-package Mvc.JQuery.Datatables
</pre>
<p>
    In the controller:
</p>
<pre class="highlight">
public IDataTablesResult&lt;UserView> GetUsers(DataTablesParam dataTableParam)
{
    var users = new List&lt;User>
    (
        Enumerable.Range(1, 100).Select(i => new User(){Id = i, Email = "user" + i + "@@gmail.com", Name = "User" + i})
    ).AsQueryable();

    return DataTablesResult.Create(users, dataTableParam, user => new UserView()
    {
        Id = user.Id,
        Name = user.Name
    });
}
</pre>

<p>
and in the view...

<pre class="highlight">
@@using Mvc.JQuery.Datatables
@@using Mvc.JQuery.Datatables.Example.Controllers

&lt;link type="text/css" href="@@Url.Content("~/Content/DataTables-1.8.2/media/css/demo_table.css")" rel="stylesheet"/>
&lt;script src="@@Url.Content("~/Scripts/DataTables-1.8.2/media/js/jquery.dataTables.js")" type="text/javascript">&lt;/script>

@@Html.Partial("DataTable", Html.DataTableVm("table-id", (HomeController h) => h.GetUsers(null)))

can also use 

@@Html.Partial("DataTable", Html.DataTableVm("table-id", "/home/getusers", "Id", "Name", "Email"))
</pre>
</p>

<h1>Voila</h1>


@using Mvc.JQuery.Datatables
@using Mvc.JQuery.Datatables.Example.Controllers
@{
    var vm = Html.DataTableVm("table-id", (HomeController h) => h.GetUsers(null));
    vm.ColumnFilter = true;
}
@Html.Partial("DataTable", vm)




